/* Borders Properties */
.container1{
  background-color: #4e329cc3;
  /* border-style: solid;
  border-width: 3px;
  border-color: green;
  border: 3px solid green;
   */
  /* border-top: 6px solid red;
  border-left: 4px solid yellow; */
  /* border-radius: 5px; */
  /* border-top-right-radius: 8px; */
}

/* Padding Properties (space between border to content) */
.container{
  /* width: 500px;
  height: 200px; */
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding: 30px 30px 40px 40px;
  padding: 30px 50px;
  padding: 50px;
}


/* Margin Properties (space between parent to border) */
.container{
border: 3px solid pink;
margin-top: 50px;
margin-right: 50px;
margin-bottom: 40px;
margin-left: 30px;
/* we can also use each value like padding */
margin: 50px;
}

.love{
  height: 300px;
  width: 300px;
  background-color: red;
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  border-radius: 30px;
  margin: 0px auto;    /*to center an element*/
}