/* Relative Positioning */
.relative {
  background-color: green;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  top: 20px;
  left: 20px;
}

/* Absolute positioning */
.newDiv {
  width: 600px;
  height: 300px;
  margin: auto;
  padding: 10px;
  background-color: pink;
  position: relative;
}

.absolute {
  width: 200px;
  background-color: burlywood;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* Fixed positioning */
.navbar {
  background-color: pink;
  padding: 2px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 21;
}
.navbar-item {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

/* Sticky */
/* Sticky also behaves like fixed but it is only exist only its parent div, not outside the another one */
