* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* use of percentage (relative unit) */
.percentage {
  background-color: green;
  border: 1px solid red;
  width: 80%;
}

.percentage2 {
  background-color: red;
  border: 1px solid cyan;
  width: 25%; /*it takes 25% width of parent element*/
}

/* use of vw and vh */
.vw-vh {
  margin-top: 10px;
  border: 2px solid black;
  background-color: pink;
  padding: 10px;
  width: 80vw;
  height: 70vh;
}
